<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>782639291033-gtrgljeon24c9curbtjb9m21095bv4jf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782639291033-gtrgljeon24c9curbtjb9m21095bv4jf</string>
	<key>API_KEY</key>
	<string>AIzaSyDLQiGrfC73GZTxIPh2PXBkJN4qNm0eMaE</string>
	<key>GCM_SENDER_ID</key>
	<string>782639291033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.manleycelicourt.RNDM</string>
	<key>PROJECT_ID</key>
	<string>rndm-da8d1</string>
	<key>STORAGE_BUCKET</key>
	<string>rndm-da8d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782639291033:ios:c070fa58f78d646b</string>
	<key>DATABASE_URL</key>
	<string>https://rndm-da8d1.firebaseio.com</string>
</dict>
</plist>